/* admin.css */

/* ฟอนต์และพื้นหลัง */
body {
    font-family: "Prompt", sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

/* หัวข้อ */
h2 {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
    color: #444;
}

/* ลิงก์เมนู */
a {
    display: inline-block;
    margin: 20px;
    padding: 12px 25px;
    background: #007bff;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
}

/* ปุ่ม Hover */
a:hover {
    background: #0056b3;
}

/* ปุ่มออกจากระบบ */
a[style*="background:#dc3545;"] {
    background: #dc3545 ;
}

a[style*="background:#dc3545;"]:hover {
    background: #a71d2a;
}
